{% extends 'base.html' %}
{% block body %}
<h1 class="text-center">Completed Tasks</h1>
<div class ="row mt-3">
    <div class="col-md-10">
      {% if tasks %}
<table class="table table-bordered w-75 m-auto mt-4">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Task</th>
        <th scope="col">priority</th>
        <th scope="col">Creation Date</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{task.id}}</td>
            <td>{{task.title}}</a></td>
            <td>{{task.priority}}</td>
            <td>{{task.creation_date}}</td>
            <td>{{task.due_date}}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1 class="text-center ">No data availabe</h1>
{% endif %}
    </div>
</div>

{% endblock %}