{% extends 'base.html' %} {% block body %}
<section class="section-content padding-y">
  <!-- ============================ COMPONENT REGISTER   ================================= -->
  <div class="card mx-auto" style="max-width: 520px; margin-top: 40px">
    <article class="card-body">
      <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
      {% if form.non_field_errors %} {% for error in form.non_field_errors %}
      <div>
        <p class="font-bold">Error!</p>
        <p class="block sm:inline">{{ error }}</p>
      </div>
      {% endfor %} {% endif %}
      <form method="POST">
        {% csrf_token %} {% for hidden_field in form.hidden_fields %} {{
        hidden_field.errors }} {{ hidden_field }} {% endfor %}
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-2/2 px-3 mb-6 md:mb-0">
            <label
              for="{{ form.first_name.id_for_label }}"
            >
              {{ form.username.label }}
            </label>
            {{ form.username }} 
            {% if form.username.errors %} 
            {% for error in form.username.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %} 
            {% endif %}
          </div>
          <br>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label
              for="{{ form.first_name.id_for_label }}"
            >
              {{ form.first_name.label }}
            </label>
            {{ form.first_name }} {% if form.first_name.errors %} 
            {% for error in form.first_name.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
          <br>
          <div class="w-full md:w-1/2 px-3">
            <label
              for="{{ form.last_name.id_for_label }}"
            >
              {{ form.last_name.label }}
            </label>
            {{ form.last_name }} {% if form.last_name.errors %} 
            {% for error in form.last_name.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
        </div>
        <br>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label
              for="{{ form.email.id_for_label }}"
            >
              {{ form.email.label }}
            </label>
            {{ form.email }} {% if form.email.errors %} 
            {% for error in form.email.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
          <br>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label
              for="{{ form.password1.id_for_label }}"
            >
              {{ form.password1.label }}
            </label>
            {{ form.password1 }} {% if form.password1.errors %} 
            {% for error in form.password1.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
          <br>
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label
              for="{{ form.password2.id_for_label }}"
            >
              {{ form.password2.label }}
            </label>
            {{ form.password2 }} {% if form.password2.errors %} 
            {% for error in form.password2.errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
        </div>
          <br>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </div>
        <!-- form-group// -->
      </form>
    </article>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->
  <p class="text-center mt-4">
    Have an account? <a href="{% url 'loginpage' %}">Log In</a>
  </p>
  <br /><br />
</section>
{% endblock%}
